body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

header {
  justify-content: flex-end;
}

footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 815px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  margin-bottom: 24px;
}

#search-form {
  text-align: center;
  max-width: 512px;
  width: 80%;
}

#google-search {
  margin-right: 8px;
}

#search-form .search-box {
  margin-bottom: 24px;
}

#login-button {
  width: 120px;
}
