header {
    height: 60px;
    justify-content: flex-end;
    color: #000000DE;
    align-items: center;
}

header a {
    line-height: 24px;
    font-size: 14px;
}

#dotted-menu {
    padding: 0px 17px;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#logo {
    padding-bottom: 40px;
}

fieldset {
    border: none;
    display: flex;
    justify-content: center;

}

fieldset button {
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
}

fieldset button:hover {
    border: 1px solid #e0e0e0;
}

form input {
    max-width: 420px;
    width: 50vw;
    padding: 0px 8px;
}


footer {
    background-color: #f2f2f2;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}